$layout-hoz-padding: 20px;
$layout-vert-padding: 20px;
$layout-padding: $layout-vert-padding $layout-hoz-padding;

$layout-hoz-desktop-padding: 30px;
$layout-vert-desktop-padding: 30px;
$layout-desktop-padding: $layout-vert-desktop-padding $layout-hoz-desktop-padding;

$layout-nav-desktop-width: 260px;
$layout-sidebar-desktop-width: 230px;
